.container {
  width: 350px;
  border-radius: 0;
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  border: 0;

  ul {
    padding: 0;
    margin: 0;
    border: 0;

    li {
      list-style-type: none;
      padding: 0;
      margin: 0;
      border: 0;
    }
  }
}
