<div class="container">
  <p class="nocontent" *ngIf="notifications.length == 0">Nenhuma notificação no momento.</p>
  <ul>
    <li *ngFor="let notification of this.notifications">
      <ul>
        <li>
          <app-notification-card [notification] = "notification"></app-notification-card>
        </li>
        <li role="separator" class="divider"></li>
      </ul>

    </li>
  </ul>

  <div class="notifications-footer">
    <button (click)="onClearAllClicked()">&nbsp;Limpar Todas&nbsp;</button>
  </div>
</div>
