.backdrop {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.div.form-group {
    padding: 15px;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-foot {
    position: fixed;
}


img {
    max-height: 300px;
    max-width: 300px;
  }