<div class="app-navbar">
    <div class="app-navbar-left">
        <button class="navbar-btn header-ham" data-toggle="collapse" data-target=".collapseMenu"><span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp;&nbsp;</button>
    </div>

    <ul class="app-navbar-right">
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle app-header-button" role="button" (click)="onDropdownClicked()">
            <span class="glyphicon glyphicon-bell"></span>&nbsp;&nbsp;
          </a>

          <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu3">
            <li class="dropdown-header">Notificações</li>
            <li role="separator" class="divider"></li>
            <li><app-notification></app-notification></li>
          </ul>
        </li>
      </ul>
  </div>

<div class="app-nav-bar collapse collapseMenu">
    <div class="app-nav-profile">
      <div class="app-nav-userimg">
        <img  [src]="imagePath"
          class="img-responsive center thumbnail"
          onerror="this.src='../../assets/default-profile.png'"
          alt="Avatar"/>
      </div>

      <div class="app-nav-userbox">
        <div class="app-nav-usertitle">
          <div class="profile-usertitle-name">
            <p>{{user.name}}</p>
          </div>

          <div class="app-nav-edit-profile">
            <a routerLink="/profile">Editar Perfil</a>
          </div>
        </div>
      </div>
    </div>

    <div class="app-nav-menu">
      <ul class="nav">
        <li class="active">
          <a routerLink="/home">
            <i class="glyphicon glyphicon-briefcase"></i> Dashboard
          </a>
        </li>

        <li>
          <a routerLink="/myessays">
            <i class="glyphicon glyphicon-list-alt"></i> Minhas Redações
          </a>
        </li>

        <li>
          <a routerLink="/to-review">
            <i class="glyphicon glyphicon-ok"></i> Corrigir Redações
          </a>
        </li>

        <li>
            <a (click)="onLogout()">
              <i class="glyphicon glyphicon-off"></i> Sair
            </a>
          </li>
      </ul>
    </div>
  </div>
