@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.nav.navbar-nav li a {
    color:#400B3C;
    font-weight: bold;
    font-family: 'Open Sans',serif;
    font-size: large;

}
a.navbar-brand {
    font-family: 'Open Sans',serif;
    color:#400B3C;
    font-size: large;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-brand img
{
    max-height: 100%;
}

.nav.navbar-nav.navbar-right a {
    cursor: pointer;
}
.image {
  cursor: pointer;
}
.glyphicon-in-out{
  color:#400B3C;
  margin-top: 5px;
  font-weight: bold;
  font-family: 'Open Sans',serif;
  font-size: large;
  cursor: pointer;
}
