<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#alignment-example"
                aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" rel="home">
            <img class="image" (click)="redirect()" src="../../assets/tuiter.png">
          </a>
    </div>

    <div class="collapse navbar-collapse" id="alignment-example">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a *ngIf="inHome" routerLink="/profile">
            &nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Informação Pessoal
          </a>
        </li>
          <li onshow="show" routerLinkActive="active">
              <a *ngIf="inHome" routerLink="/update-pass">
                <span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Segurança e Privacidade
          </a>
        </li>
        <li *ngIf="inHome" routerLinkActive="active">
          <a routerLink="/myessays">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Minhas redações
          </a>
      </li>
      <li routerLinkActive="active">
        <a *ngIf="inHome" routerLink="/to-review">
          <span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;Corrigir redação
        </a>
    </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <span *ngIf="isLogged()" routerLink="/login" class="glyphicon-in-out">Entrar</span>
        <span *ngIf="!isLogged()" (click)="onLogout()" class="glyphicon-in-out">Sair</span>
      </ul>
    </div>
  </div>
</nav>
