  <h2>Entrar no CorrigeAí</h2>
  
  <form class="fields" [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
      <div class="form-group">
          <input [ngClass]="{'has-error':!loginForm.controls['identifier'].valid && loginForm.controls['identifier'].touched,
                             'touched': loginForm.controls['identifier'].touched }"
              class="form-control"
              type="identifier" placeholder="Email/Nome de usuário"
              [formControl]="loginForm.controls['identifier']">
      </div>

      <div class="form-group">
          <input [ngClass]="{'has-error':!loginForm.controls['password'].valid && loginForm.controls['password'].touched,
                             'touched': loginForm.controls['password'].touched }"
              class="form-control"
              type="password" placeholder="Senha (6 dígitos, uma letra e um número)"
              [formControl]="loginForm.controls['password']">
      </div>

      <button class="btn btn-block"
          type="submit"
          [ngClass]="{'disabled': !loginForm.valid}"
          [disabled]='!loginForm.valid'>Entrar</button>    
      <a routerLink="/signup">
        <h3>Ou Crie uma conta</h3>
      </a>
  </form>  