<div class="container">
        <div class="panel panel-default thumbnail">
                <ul class="list-group">
                        <li class="list-group-item">
                                <span class="badge pull-right"><h4>&nbsp;N/A&nbsp;</h4></span>
                                <span class="pull-right"><h4>Nota:&nbsp;</h4></span>   
                            <h3>&nbsp;&nbsp;{{essay.title}}</h3>
                        </li>
                        <li class="list-group-item text-muted "><h4>&nbsp;&nbsp;Tema: {{essay.theme}}</h4></li>
                      </ul>
                <div class="panel-body">
                        <div class="well"><p>{{essay.content}}</p></div>  
                        
                <button type="button" 
                        (click)="onEditEssay()" 
                        class="btn btn-default">
                        &nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;
                </button>  
                </div>
</div>
</div>