li {
    width:100%;
    padding:3px;
    border-top: 2px transparent;
    border-bottom: 2px transparent;
    background-color: transparent;
}

span {
    padding:10px;
}

.well {
    word-wrap: break-word;
    white-space: normal;  
    max-height: 100px;
    overflow-y: hidden;  
}