<div class="container">
        <form class="fields" [formGroup]="editProfileForm" (ngSubmit)="submitForm(editProfileForm.value)">  
        <div class="row">
                <div class="col-sm-0 col-xs-0 col-md-0 col-lg-4"></div>
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-8">
                        <h2>Edite Seu Perfil</h2>
                </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">&nbsp;</div>
        </div>
          <div class="row">
          <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4">
                <img  [src]="imagePath"
                class="img-responsive center thumbnail"
                onerror="this.src='../../assets/default-profile.png'" 
                alt="Avatar"/>

                <label class="btn btn-primary center"
                for="my-file-selector">
                    <input type="file"
                    id="my-file-selector" 
                    style="display:none;"
                    class="center"
                    (change)="onFileChange($event)">  
                    Selecionar imagem      
                </label>
          </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-8" >
                <div class="form-group">
                        <h3>Nome</h3>
                        <input [ngClass]="{'has-error': !editProfileForm.controls['name'].valid && editProfileForm.controls['name'].touched,
                                                   'touched': editProfileForm.controls['name'].touched }" class="form-control" type="text"
                          placeholder="Nome completo" [formControl]="editProfileForm.controls['name']">
                      </div>
                  
                      <div class="form-group" style="color:silver;">
                        <h3>Gênero</h3>
                        <label>
                          <input type="radio" value="Male" [formControl]="editProfileForm.controls['gender']">
                          <span>homem</span>
                        </label>
                        <label>
                          <input type="radio" value="Female" [formControl]="editProfileForm.controls['gender']">
                          <span>mulher</span>
                        </label>
                        <label>
                          <input type="radio" value="Unknown" [formControl]="editProfileForm.controls['gender']">
                          <span>outro</span>
                        </label>
                      </div>
                  
                      <div class="form-group">
                        <h3>Nome de Usuário</h3>  
                        <input [ngClass]="{'has-error': !editProfileForm.controls['username'].valid && editProfileForm.controls['username'].touched,
                                                   'touched': editProfileForm.controls['username'].touched }" class="form-control" type="text"
                          placeholder="Nome de Usuário" [formControl]="editProfileForm.controls['username']">
                      </div>
            <div class="row">
              <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">&nbsp;</div>
            </div>
        </div>
      </div>
        <div class="row">
                <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-sm-0 col-xs-0 col-md-3 col-lg-6"></div>
            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-4">
                <div class="error-message" [hidden]="!error">{{error}}</div>
                <button 
                    class="btn btn-block" 
                    type="submit" 
                    [ngClass]="{'disabled': !editProfileForm.valid}"
                    [disabled]='!editProfileForm.valid'>Editar Perfil</button>        
            </div>  
            <div class="col-sm-0 col-xs-0 col-md-3 col-lg-2"></div>
        </div>
      <div class="row">
      <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">&nbsp;</div>
      </div>
    </form>
      </div>
