
h2 {
    color: white;
}

label {
    color: silver;
}

.has-error {
    border: 1px solid red;
}

button {
  background-color: #1da1f2;
  color: white;
  border-radius: 30px;
  font-size: 20px;
  padding: 10px;
}