<div class="app-nav-bar">
    <div class="app-nav-profile">
      <div class="app-nav-userimg">
        <img src="../../assets/default-profile.png" />
      </div>

      <div class="app-nav-userbox">
        <div class="app-nav-usertitle">
          <div class="profile-usertitle-name">
            <p>Ravi Leite</p>
          </div>

          <div class="app-nav-edit-profile">
            <a href="/profile">Editar Perfil</a>
          </div>
        </div>
      </div>
    </div>

    <div class="app-nav-menu">
      <ul class="nav">
        <li class="active">
          <a href="#">
            <i class="glyphicon glyphicon-briefcase"></i> Dashboard
          </a>
        </li>

        <li>
          <a href="/myessays">
            <i class="glyphicon glyphicon-list-alt"></i> Minhas Redações
          </a>
        </li>

        <li>
          <a href="#" target="_blank">
            <i class="glyphicon glyphicon-ok"></i> Corrigir Redações
          </a>
        </li>

        <li>
          <a href="#">
            <i class="glyphicon glyphicon-info-sign"></i> Sobre
          </a>
        </li>

        <li>
            <a href="#">
              <i class="glyphicon glyphicon-off"></i> Sair
            </a>
          </li>
      </ul>
    </div>
  </div>
