<div class="container">
  <div class="card-header">
    <div class="top-header">
      <h3>{{essay.title}}</h3>

      <div class="grade">
          <p>&nbsp;N/A&nbsp;</p>
      </div>
    </div>

    <strong><h4>Tema: {{essay.theme}}</h4></strong>
  </div>

  <hr>
  <p>{{essay.content}}</p>

  <div class="card-footer">
      <button type="button" (click)="onEditEssay()"><span class="glyphicon glyphicon-pencil"></span></button>
      <button type="button" (click)="openDeleteEssay()">&nbsp;<span class="glyphicon glyphicon-trash"></span>&nbsp;</button>
      <app-delete-essay [display]="display" [hidden]="!display" (displayEvent)="refreshDisplay($event)" (deleteEssay)="onDeleteEssay($event)">
      </app-delete-essay>
  </div>
</div>
