<div class="container">
  <div class="card-header">
    <div class="top-header">
      <h3>{{essay.title}}</h3>

      <div class="grade">
          <p>&nbsp;N/A&nbsp;</p>
      </div>
    </div>

    <strong><h4>Tema: {{essay.theme}}</h4></strong>
  </div>

  <hr>

  <p>{{essay.content}}</p>

  <div class="card-footer">
    <div class="footer-review" collapse>
      <a data-toggle="collapse" href="#review-list-{{essay.id}}">VER {{reviews.length}} revisões ...</a>
    </div>
    <div class="footer-buttons">
      <button type="button" (click)="onEditEssay()"><span class="glyphicon glyphicon-pencil"></span></button>
      <button type="button" (click)="openDeleteEssay()">&nbsp;<span class="glyphicon glyphicon-trash"></span>&nbsp;</button>
      <app-delete-essay [display]="display" [hidden]="!display" (displayEvent)="refreshDisplay($event)" (deleteEssay)="onDeleteEssay($event)">
      </app-delete-essay>
    </div>
  </div>

  <div id="review-list-{{essay.id}}" class="card-reviews collapse">
    <hr>

    <ul>
        <li *ngFor="let review of reviews" class="panel panel-default">
          <div class="review-area">
            <p>Competência 1: <span class="review-comment">{{review.comments[0]}}</span></p>
            <div><span class="review-grade badge">{{review.ratings[0]}}</span></div>
          </div>

          <div class="review-area">
              <p>Competência 2: <span class="review-comment">{{review.comments[1]}}</span></p>
              <div><span class="review-grade badge">{{review.ratings[1]}}</span></div>
          </div>

          <div class="review-area">
              <p>Competência 3: <span class="review-comment">{{review.comments[2]}}</span></p>
              <div><span class="review-grade badge">{{review.ratings[2]}}</span></div>
          </div>

          <div class="review-area">
              <p>Competência 4: <span class="review-comment">{{review.comments[3]}}</span></p>
              <div><span class="review-grade badge">{{review.ratings[3]}}</span></div>
          </div>

          <div class="review-area">
              <p>Competência 5: <span class="review-comment">{{review.comments[4]}}</span></p>
              <div><span class="badge review-grade">{{review.ratings[4]}}</span></div>
          </div>

          <div class="review-area">
              <p>Comentário Geral: <span class="review-comment">{{review.comments[5]}}</span></p>
          </div>

          <div class="review-details">
            <p><a (click)="onReviewDetailsClicked(review)">Detalhes</a></p>
          </div>
        </li>
      </ul>
  </div>
</div>
