@import './../../shared/util.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.container {
  width: 90%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  .top-header {
    display: flex;
    @include apply-flexlayout(row, nowrap, space-between, center);

    .grade {
      background-color: #FFBA5C;
      border-radius: 15px;
      padding: 8px;
      margin-top: 5px;


      p {
        color: #FFFFFF;
        font-family: 'Lato';
        font-size: 20px;
        text-align: left;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  h3 {
    color: #47525E;
    font-family: 'Lato';
    font-size: 23px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0px;
    padding: 0px;
  }

  h4 {
    margin-top: 1px;
    color: #47525E;
    font-family: 'Roboto';
    font-size: 15px;
    text-align: left;
  }

}

.card-footer {
  @include apply-flexlayout(row, nowrap, flex-end, center);
}

button {
  background-color: transparent; /* Blue background */
  border: none; /* Remove borders */
  color: #47525E; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer;

  &:hover {
    color: black;
  }
}

card-footer {

}
