<app-header></app-header>
<div class="container">
  <div class="card">
    <div class="img-container">
        <img  [src]="imagePath"
          class="img-responsive center thumbnail"
          onerror="this.src='../../assets/default-profile.png'"
          alt="Avatar"/>
    </div>

    <div class="field-container">
      <p>Nome:</p>

      <input [ngClass]="{'has-error': !editProfileForm.controls['name'].valid && editProfileForm.controls['name'].touched,
                                                    'touched': editProfileForm.controls['name'].touched }" class="form-control" type="text"
                            placeholder="Nome completo" [formControl]="editProfileForm.controls['name']">
    </div>

    <div class="field-container">
      <p>Email:</p>

      <input [ngClass]="{'has-error': !editProfileForm.controls['email'].valid && editProfileForm.controls['email'].touched,
                            'touched': editProfileForm.controls['email'].touched }" class="form-control" type="text"
                            placeholder="Email" [formControl]="editProfileForm.controls['email']">
    </div>

    <div class="form-group" style="color:silver;">
      <h3>Gênero</h3>
      <label>
        <input type="radio" value="Male" [formControl]="editProfileForm.controls['gender']">
        <span>homem</span>
      </label>

      <label>
        <input type="radio" value="Female" [formControl]="editProfileForm.controls['gender']">
        <span>mulher</span>
      </label>

      <label>
        <input type="radio" value="Unknown" [formControl]="editProfileForm.controls['gender']">
        <span>outro</span>
      </label>
    </div>

    <p>Username:</p>

    <input [ngClass]="{'has-error': !editProfileForm.controls['name'].valid && editProfileForm.controls['name'].touched,
                                                   'touched': editProfileForm.controls['name'].touched }" class="form-control" type="text"
                          placeholder="Username" [formControl]="editProfileForm.controls['name']">

    <button
                    class="btn btn-block btn-submit"
                    type="submit"
                    [ngClass]="{'disabled': !editProfileForm.valid}"
                    [disabled]='!editProfileForm.valid'>Editar Perfil</button>
  </div>
</div>

<!--<div class="container card">
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">&nbsp;</div>
  </div>
    <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4">
        <img  [src]="imagePath"
        class="img-responsive center thumbnail"
        onerror="this.src='../../assets/default-profile.png'"
        alt="Avatar"/>
    </div>
  <div class="col-sm-12 col-xs-12 col-md-12 col-lg-8" >
          <div class="form-group">
            <label class="control-label col-sm-2 title" for="email">Username:</label>
            <div class="col-sm-10">
              <p class="form-control-static well well-sm">{{username}}</p>
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-2 title" for="email">Name:</label>
              <div class="col-sm-10">
                <p class="form-control-static well well-sm">{{name}}</p>
              </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 title" for="email">Gender:</label>
                <div class="col-sm-10">
                  <p class="form-control-static well well-sm">{{gender}}</p>
                </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-2 title" for="email">Email:</label>
                  <div class="col-sm-10">
                    <p class="form-control-static well well-sm">{{email}} </p>
                  </div>
                </div>
      <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
        <div class="col-sm-4 title">&nbsp;</div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">&nbsp;</div>
  </div>
  <div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 title"><button class="btn btn-block" (click)="onEditProfile()">Editar Perfil</button></div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
<div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">&nbsp;</div>
</div>
<div class="row">
  <div class="col-sm-12 title">&nbsp;</div>
</div>
</div>-->




