@import './../../shared/util.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.container {
  @include apply-fixed-container();
  @include apply-flexlayout(row, nowrap, center, center);

  background: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url("../../../assets/home-background.jpeg") no-repeat;
  background-size: 100%;

  .signup-card {
    @include apply-flexlayout(column, nowrap, center, center);
    background-color: rgba(127, 135, 152, 0.59);
    padding: 40px 50px 40px 50px;
    max-width: 540px;
    border-radius: 1px;
    h1 {
      font-family: 'Montserrat';
      font-size: 3rem;
      text-align: center;
      font-weight: bold;
      color: white;
      padding: 0px;
      margin-bottom: 10px;
    }

    button {
      &:hover {
        color: white;
      }
    }

    h2 {
      margin-top: 10%;
      margin-bottom: 30px;
      font-weight: bold;
      text-align: center;
      color: silver;
    }

    .radio-line {
      margin-top: 4px;
      border-radius: 2px;
      background-color: white;
      padding: 2px;
      padding-top: 5px;
      @include apply-flexlayout(row, nowrap, center, center);


      .app-radio-inline {
        font-family: 'Montserrat';
        font-size: 15px;
        font-weight: normal;
        margin-left: 10px;
      }

    }
  }
}

@media (max-width: 1000px) {
  .container {
    .signup-card {
      position: fixed;
      top:0;
      right: 0px;
      min-width: 100%;
      min-height: 100%;
      padding: 0px 20px 0px 20px;
    }

    }
  }
