<div class="container">
    <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <h2>Inscreva-se no CorrigeAí</h2>
    <form class="fields" [formGroup]="signUpForm" (ngSubmit)="submitForm(signUpForm.value)">
        <div class="form-group">
            <input [ngClass]="{'has-error': !signUpForm.controls['name'].valid && signUpForm.controls['name'].touched,
                               'touched': signUpForm.controls['name'].touched }"
                class="form-control"
                type="text" placeholder="Nome completo"
                [formControl]="signUpForm.controls['name']">
        </div>

        <div class="form-group" style="color:silver;">
        <label>
            <input type="radio" value="Male" [formControl]="signUpForm.controls['gender']">
              <span>homem</span>
          </label>
          <label>
            <input type="radio" value="Female" [formControl]="signUpForm.controls['gender']">
              <span>mulher</span>
          </label>
          <label>
            <input type="radio" value="Unknown" [formControl]="signUpForm.controls['gender']">
              <span>outro</span>
          </label>
        </div>

        <div class="form-group">
            <input [ngClass]="{'has-error': !signUpForm.controls['username'].valid && signUpForm.controls['username'].touched,
                               'touched': signUpForm.controls['username'].touched }"
                class="form-control"
                type="text" placeholder="Nome de Usuário (4-15 dígitos, sem espaços)"
                [formControl]="signUpForm.controls['username']">
        </div>

        <div class="form-group">
            <input [ngClass]="{'has-error':!signUpForm.controls['email'].valid && signUpForm.controls['email'].touched,
                               'touched': signUpForm.controls['email'].touched }"
                class="form-control"
                type="email" placeholder="Email"
                [formControl]="signUpForm.controls['email']">
        </div>

        <div class="form-group">
            <input [ngClass]="{'has-error':!signUpForm.controls['password'].valid && signUpForm.controls['password'].touched,
                               'touched': signUpForm.controls['password'].touched }"
                class="form-control"
                type="password" placeholder="Senha (6 dígitos, uma letra e um número)"
                [formControl]="signUpForm.controls['password']">
        </div>

        <div class="form-group">
            <input [ngClass]="{'has-error':!signUpForm.controls['confirmPassword'].valid && signUpForm.controls['confirmPassword'].touched,
                               'touched': signUpForm.controls['confirmPassword'].touched }"
                class="form-control"
                type="password" placeholder="Confirmar Senha"
                [formControl]="signUpForm.controls['confirmPassword']">
        </div>
        
        <button class="btn btn-block"
            type="submit"
            [ngClass]="{'disabled': !signUpForm.valid}"
            [disabled]='!signUpForm.valid'>Inscrever-se</button>
    </form>      
    </div>
    <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
</div>    
