<div class="container">
  <div class="signup-card">
    <h1>Crie sua conta</h1>

    <form class="app-form-type1" [formGroup]="signUpForm" (ngSubmit)="submitForm(signUpForm.value)">

      <input [ngClass]="{'has-error': !signUpForm.controls['name'].valid && signUpForm.controls['name'].touched,
                        'touched': signUpForm.controls['name'].touched }" class="app-form-control" type="text" placeholder="Nome completo"
                        [formControl]="signUpForm.controls['name']">

      <input [ngClass]="{'has-error':!signUpForm.controls['email'].valid && signUpForm.controls['email'].touched,
                        'touched': signUpForm.controls['email'].touched }"
                        class="app-form-control"
                        type="email" placeholder="Email"
                        [formControl]="signUpForm.controls['email']">


      <input [ngClass]="{'has-error': !signUpForm.controls['username'].valid && signUpForm.controls['username'].touched,
                        'touched': signUpForm.controls['username'].touched }"
                        class="app-form-control"
                        type="text" placeholder="Nome de Usuário (4-15 dígitos, sem espaços)"
                        [formControl]="signUpForm.controls['username']">

      <input [ngClass]="{'has-error':!signUpForm.controls['password'].valid && signUpForm.controls['password'].touched,
                        'touched': signUpForm.controls['password'].touched }"
                        class="app-form-control"
                        type="password" placeholder="Senha (6 dígitos, uma letra e um número)"
                        [formControl]="signUpForm.controls['password']">

      <input [ngClass]="{'has-error':!signUpForm.controls['confirmPassword'].valid && signUpForm.controls['confirmPassword'].touched,
                        'touched': signUpForm.controls['confirmPassword'].touched }"
                        class="app-form-control"
                        type="password" placeholder="Confirmar Senha"
                        [formControl]="signUpForm.controls['confirmPassword']">
      
      <label class="radio-inline">
          Estudante Grátis
        <input type="radio" value="Free" name="optradio" [checked]="true" [formControl]="signUpForm.controls['role']">
      </label>
      <label class="radio-inline">
          Estudante Premium 
          <input type="radio" value="Premium" name="optradio" [formControl]="signUpForm.controls['role']">
      </label>
      <label class="radio-inline">
          Professor
        <input type="radio" name="optradio" value="Teacher" [formControl]="signUpForm.controls['role']">
      </label>

      <button class="btn btn-block app-btn-type1"
              type="submit"
              [ngClass]="{'disabled': !signUpForm.valid}"
              [disabled]='!signUpForm.valid'>Inscrever-se</button>

      <p>Já tem uma conta?</p>

      <button class="btn btn-block app-btn-type3" (click)=goBack()>Entrar</button>

    </form>
  </div>
</div>
