
<div class = container>
    <form class="fields" [formGroup]="reviewForm" (ngSubmit)="submitForm(reviewForm.value)">
            <h2> Por favor avalie a Redação recebida</h2>
            <div class="row">
                <div class="col-md-10 form-group">
                        <label for="textbox1">Competência 1</label>
                        <textarea class="form-control"
                            placeholder="Insira seu comentário aqui"
                        id="textbox1" rows="5" id="comment"
                        [ngClass]="{'has-error':!reviewForm.controls['comptc1text'].valid && reviewForm.controls['comptc1text'].touched,
                                       'touched': reviewForm.controls['comptc1text'].touched }"
                        [formControl]="reviewForm.controls['comptc1text']"></textarea>
                    </div>

                <div class="col-md-2 form-group">
                        <label for="sel1">Potuação:</label>
                        <select class="form-control" id="sel1"
                        [formControl]="reviewForm.controls['comptc1nota']">
                            <option>0</option>
                            <option>40</option>
                            <option>80</option>
                            <option>120</option>
                            <option>160</option>
                            <option>200</option>
                        </select>
                </div>
            </div>

            <div class="row">
                    <div class="col-md-10 form-group">
                            <label for="textbox1">Competência 2</label>
                            <textarea class="form-control"
                                placeholder="Insira seu comentário aqui"
                            id="textbox1" rows="5" id="comment"
                            [ngClass]="{'has-error':!reviewForm.controls['comptc2text'].valid && reviewForm.controls['comptc2text'].touched,
                                       'touched': reviewForm.controls['comptc2text'].touched }"
                            [formControl]="reviewForm.controls['comptc2text']"></textarea>
                        </div>

                    <div class="col-md-2 form-group">
                            <label for="sel1">Potuação:</label>
                            <select class="form-control" id="sel1"
                            [formControl]="reviewForm.controls['comptc2nota']">
                                <option>0</option>
                                <option>40</option>
                                <option>80</option>
                                <option>120</option>
                                <option>160</option>
                                <option>200</option>
                            </select>
                    </div>
            </div>

            <div class="row">
                    <div class="col-md-10 form-group">
                            <label for="textbox1">Competência 3</label>
                            <textarea class="form-control"
                                placeholder="Insira seu comentário aqui"
                                [ngClass]="{'has-error':!reviewForm.controls['comptc3text'].valid && reviewForm.controls['comptc3text'].touched,
                                       'touched': reviewForm.controls['comptc3text'].touched }"
                                       id="textbox1" rows="5" id="comment"
                            [formControl]="reviewForm.controls['comptc3text']"></textarea>
                        </div>

                    <div class="col-md-2 form-group">
                            <label for="sel1">Potuação:</label>
                            <select class="form-control" id="sel1"
                            [formControl]="reviewForm.controls['comptc3nota']">
                                <option>0</option>
                                <option>40</option>
                                <option>80</option>
                                <option>120</option>
                                <option>160</option>
                                <option>200</option>
                            </select>
                    </div>
            </div>

            <div class="row">
                    <div class="col-md-10 form-group">
                            <label for="textbox1">Competência 4</label>
                            <textarea class="form-control"
                                placeholder="Insira seu comentário aqui"
                            id="textbox1" rows="5" id="comment"
                            [ngClass]="{'has-error':!reviewForm.controls['comptc4text'].valid && reviewForm.controls['comptc4text'].touched,
                                       'touched': reviewForm.controls['comptc4text'].touched }"
                            [formControl]="reviewForm.controls['comptc4text']"></textarea>
                        </div>

                    <div class="col-md-2 form-group">
                            <label for="sel1">Potuação:</label>
                            <select class="form-control" id="sel1"
                            [formControl]="reviewForm.controls['comptc4nota']">
                                <option>0</option>
                                <option>40</option>
                                <option>80</option>
                                <option>120</option>
                                <option>160</option>
                                <option>200</option>
                            </select>
                    </div>
            </div>

            <div class="row">
                    <div class="col-md-10 form-group">
                            <label for="textbox1">Competência 5</label>
                            <textarea class="form-control"
                                placeholder="Insira seu comentário aqui"
                                [ngClass]="{'has-error':!reviewForm.controls['comptc5text'].valid && reviewForm.controls['comptc5text'].touched,
                                       'touched': reviewForm.controls['comptc5text'].touched }"
                            id="textbox1" rows="5" id="comment"
                            [formControl]="reviewForm.controls['comptc5text']"></textarea>
                        </div>

                    <div class="col-md-2 form-group">
                            <label for="sel1">Potuação:</label>
                            <select class="form-control" id="sel1"
                            [formControl]="reviewForm.controls['comptc5nota']">
                                <option>0</option>
                                <option>40</option>
                                <option>80</option>
                                <option>120</option>
                                <option>160</option>
                                <option>200</option>
                            </select>
                    </div>
            </div>

            <div class="row">
                    <div class="col-md-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-block btn-primary"
                    type="submit"
                    [ngClass]="{'disabled': !reviewForm.valid}"
                    [disabled]='!reviewForm.valid'>Submeter</button>
                </div>
                <div class="col-md-8"></div>
            </div>
            <div class="row">
                    <div class="col-md-12">&nbsp;</div>
            </div>
            <div class="row">
                    <div class="col-md-12">&nbsp;</div>
            </div>
      </form>
</div>

<app-header></app-header>


