h2 {
    text-align: left;
    color: black;
    padding: 5px;
}

.modal-content  {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px; 
}

.modal-body{
    height: 300px;
    overflow-y: auto;
    
}

.modal-header{
    color: black;
    border-bottom: none;
}