<div class="container">
    <h2>Participe hoje do Twitter</h2>
    
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Nome completo" [(ngModel)]="name">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Senha" [(ngModel)]="pass">
    </div>
    <button type="submit" class="btn btn-default" (click)="signup()">Inscrever-se</button>
</div>