@import "../signup/signup.component.scss";

.col-md-6 { min-width:100%; min-width:100%; }

.padding-0{
  padding-right:0;
  padding-left:0;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

tr {
  color: white;
}

tr:hover {
  color: black;
}

h2 {
  color: white;
}
