<div class="container card">
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
            <img  [src]="imagePath"
            class="thumbnail"
            onerror="this.src='../../assets/default-profile.png'" 
            alt="Avatar"/>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-12 title"><h1>{{username}}</h1></div>
</div>
<div class="row">
  <div class="col-sm-12 title">{{name}}</div>
</div>
<div class="row">
  <div class="col-sm-12 title">{{gender}}</div>
</div>
<div class="row">
  <div class="col-sm-12 title">{{email}}</div>
</div>
<div class="row">
  <div class="col-sm-12 title">&nbsp;</div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 title"><button (click)="onEditProfile()">Edit Profile</button></div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-12 title">&nbsp;</div>
</div>
</div>


    
            
  