    <div class="card">
        <div class="container" id="cardImage">
                <object id="profilePic" data="../../assets/cat.jpg" type="image/png" >
            <img  src="https://appharbor.com/assets/images/stackoverflow-logo.png" 
            alt="Avatar"
            />
        </object>
        </div>
        <div class="container" id="cardBody">
            <h1>José Benardi de Souza Nunes</h1>
            <p class="title">benardinunes@gmail.com</p>
            <p class="title">19/07/1996</p>
            <p class="title">Male, Single</p>
            <a href="#"><i class="fa fa-dribbble"></i></a> 
            <a href="#"><i class="fa fa-twitter"></i></a> 
            <a href="#"><i class="fa fa-linkedin"></i></a> 
            <a href="#"><i class="fa fa-facebook"></i></a> 
            <p><button>Edit Profile</button></p>    
        </div>
      </div>
    
