<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div id="wrapper">
  <div id="sidebar-wrapper">
    <nav id="spy">
      <ul class="sidebar-nav nav">
        <li class="sidebar-brand">
          <img  [src]="imagePath"
                class="img-responsive center thumbnail"
                onerror="this.src='../../assets/default-profile.png'"
                alt="Avatar"/>
        </li>
        <div class="side-menu">
          <li (click)="goToMyEssays()"><a class="sideText">Minhas Redações<span></span></a></li>
          <li (click)="goToReview()"><a>Corrigir Redações<span></span></a></li>
          <li (click)="goToMyProfile()"><a>Informações Pessoais<span></span></a></li>
          <li (click)="goToUpdatePass()"><a>Segurança e privacidade<span></span></a></li>
        </div>

      </ul>
    </nav>
  </div>

  <div id="page-content-wrapper">
  </div>
</div>
