<div class="container">
    <div class="row">
        <div class="col-xs-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-xs-6">
                <li class="list-group-item">
                    <div class="well well-sm">
                        <h2>{{"Título: " + essay.title}}</h2>
                    </div>
                </li>
                <li>
                        &nbsp;
                </li>
                <li class="list-group-item">
                        <div class="well well-sm">
                            <h2>{{"Tema: "+essay.theme}}</h2>
                        </div>
                </li>
        </div> 
        <div class="col-xs-6">
                <ul class="list-group">
                         <li class="list-group-item">
                             <div class="well well-sm" id="content">
                                <strong>
                                    <p>&ldquo;{{essay.content}}&rdquo;</p>
                                </strong>
                            </div>
                         </li>
                    </ul>  
        </div> 
    </div>  
</div>