.well {
    border-radius: 0;
    background-color:  rgba(255, 255, 255, 0.90);
}

.list-group-item {
    background-color:  rgba(25, 20, 20, 0.45);
    border-radius: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;

}


.container {
    background-color:  rgba(25, 20, 20, 0.45);

    .comment {
        color:black;
        position: fixed;
        bottom: 0;
        right: 10%;
        bottom: 10%;
        span {
            font-size: 2em;
            background-color: darkcyan;
            color: black;
            padding: 25px;
            border-radius: 45px;

        }
    }
}