<app-header></app-header>

<div class="container">
  <div class="card">
      <div class="card-header">
        <h1>Corrigir Redação</h1>
        <h2>Nós escolhemos uma redação para você corrigir!</h2>
      </div>

      <hr>

      <div class="card-essay-info">
        <p>Título</p>
        <label>{{essay.title}}</label>
      </div>

      <div class="card-essay-info">
          <p>Tema</p>
          <label>{{essay.theme}}</label>
      </div>

      <div class="card-essay-info">
          <div class="card-text" *ngIf="essay.type === 'Text'">
            <p>{{essay.content}}</p>

          </div>
          <div *ngIf="essay.type === 'Image'">
                      <img  [src]="imagePath"
                      class="thumbnail"
                      onerror="this.src='../../assets/no_image.png'"
                      alt="Essay"/>
          </div>
      </div>

      <button class="btn btn-block btn-submit" (click)="onReviewEssay()">Corrigir Redação</button>
</div>
