<div class="container">
  <app-header></app-header>
  <app-navbar></app-navbar>
</div>

<!--<div class="container">
                        <div class="row">
                                <div class="col-lg-6 col-sm-12 col-xs-12" >
                                        <div class="row">
                                                <div class="col-sm-12">
                                                        <h3 class="title">{{description}}</h3>
                                                </div>


                                        </div>
                                        <div class="row">
                                                <div class="col-sm-12">
                                                        <object class="img-responsive"
                                                        data="../../assets/collaboration.png" type="image/png"></object>
                                                </div>

                                        </div>
                                </div>

                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                        <app-login></app-login>
                                </div>

                        </div>
                        <div class="row"><div class="col-lg-12 col-sm-12 col-xs-12" >&nbsp;</div></div>
                        <div class="row"><div class="col-lg-12 col-sm-12 col-xs-12" >&nbsp;</div></div>

</div>-->
