<div class="container">
  <app-header></app-header>
  <div class="card">
      <p>conquistas:</p>
      <img src="" alt="">
  </div>
  <div class="card">
      <p>tópico da semana:</p>
      <div class="card-header">
        <h1>{{ topic || noTopicMessage }}</h1>
      </div>
      <button>Participar!</button>
  </div>
  <div class="card" *ngIf="hasRatings">
    <p>Avaliações positivas {{ratingApprove}}</p>
    <p>Avaliações negativas {{ratingDesapprove}}</p>
    <p>Avaliações positivas {{approvePercent}}%</p>
    <p>Avaliações negativas {{desapprovePercent}}%</p>
  </div>
  <div class="card" *ngIf="!hasRatings">
    <p>Você ainda não teve nenhum review avaliado.</p>
  </div>
</div>
