<div class="container">
  <app-header></app-header>

  <div class="split-screen">
    <div class="left-side app-panel">
      <h2>Conquistas:</h2>
      <img src="" alt="">
    </div>
    <div class="right-side app-panel">
      <h2>Tópico semanal:</h2>
      <div class="topic-content">
        <h1>{{ topic || noTopicMessage }}</h1>
        <button class="btn btn-default app-btn-type1">Participar!</button>
      </div>
    </div>
  </div>

  <div class="reviews app-panel">
    <div class="review-summary" *ngIf="hasRatings">
      <p>Avaliações positivas {{ratingApprove}}</p>
      <p>Avaliações negativas {{ratingDesapprove}}</p>
      <p>Avaliações positivas {{approvePercent}}%</p>
      <p>Avaliações negativas {{desapprovePercent}}%</p>
  </div>

  <hr>

  <div class="">
    <div class="review-list" *ngIf="hasRatings">
      <ul>
        <li class="rating-card" *ngFor="let rating of ratings">
          <p><span>Redação:</span> {{getEssayOfRating(rating)}}</p>
          <p><span>Comentário:</span> {{rating.comment}}</p>
          <p><span>Voto:</span> {{rating.vote}}</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="card" *ngIf="!hasRatings">
    <p>Você ainda não teve nenhum review avaliado.</p>
  </div>
  </div>
</div>
