@import "../signup/signup.component.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1 {
    font-family: 'Open Sans',serif;
    color:silver;
    font-weight: bold;
}

#outer {
    border: 1px solid black;
      display: inline-block;
  }
  .inner {
    font-size: 12px;
    display: inline-block;
    border: 1px solid red;
  }