@import './../shared/util.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.container {
  @include apply-fixed-container();
  @include apply-flexlayout(column, wrap, flex-start, center);

  padding: 0px;
  margin-top: 50px;

  background-color: #F3F2F8;
  background-size: 100%;

  .app-panel {
    background-color: white;
    min-height: 30vh;
    border-radius: 1px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    .nocontent {
      font-family: 'Montserrat';
      font-style: italic;
      font-weight: light;
      font-size: 1.3rem;
      text-align: center;
      padding-top: 10px;
    }

    .header {
      margin: 0px;
      min-height: 40px;
      background-color: #2F3037;
      @include apply-flexlayout(row, nowrap, center, center);
    }

    .body {
      padding: 8px;
    }

    h1 {
      font-size: 2rem;
      font-family: 'Lato';
      text-transform: capitalize;
    }

    h2 {
      font-family: 'Roboto';
      font-size: 1.8rem;
      font-weight: bold;
      margin: 0px;
      color: white;
    }

    .badges {
      width: 100%;
      @include apply-flexlayout(row, wrap, flex-start, flex-start);
      div {
        width: 12%;
        height: 12%;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .split-screen {
    margin-top: 10px;

    @include apply-flexlayout(row, nowrap, space-around, center);
    width: 90.5%;

    .left-side {
      width: 55%;
    }

    .right-side {
      width: 44%;

      .topic-content {
        width: 100%;
        height: 100%;
        @include apply-flexlayout(column, nowrap, center, center);
      }
    }
  }

  .reviews {
    margin-top: 10px;
    width: 90%;

    p {
      font-family: 'Roboto';
      font-size: 1.5rem;
    }

    .review-summary {
      @include apply-flexlayout(row, nowrap, space-between, center);

    }

    ul {
      margin: 0px;
      padding: 0px;
    }

    .rating-card {
      list-style: none;
      background-color: #0F1017;
      color:white;
      margin: 0px;
      border-radius: 1px;
      padding: 8px;
      margin-bottom: 5px;
      border: 1px solid black;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
      @include apply-flexlayout(row, nowrap, flex-start, center);

      .rc-left {
        width: 5%;
        height: calc(100%);
        min-width: 50px;
      }

      .rc-right {
        width: 80%;
      }

      p {
        font-family: 'Lato';

        .bold-text {
          font-weight: bold;
        }

        .downvote {
          color: red;
          font-size: 4rem;
        }

        .upvote {
          color: #66CD00;
          font-size: 4rem;
        }
      }
    }
  }
}

@media (max-width: 1000px) {

  .container {
    .app-panel {
      .badges {
        width: 100%;
        @include apply-flexlayout(row, wrap, flex-start, flex-start);
        div {
          width: 20%;
          height: 20%;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    .split-screen {
      @include apply-flexlayout(column, nowrap, center, center);

      .left-side {
        width: 100%;
      }

      .right-side {
        margin-top: 10px;
        width: 100%;
      }
    }

    .app-panel {
      height: auto;
    }
  }
}



@media (max-width: 700px) {
  .container {
    .reviews {
      .review-summary {
        @include apply-flexlayout(column, nowrap, flex-start, center);
      }
    }
  }
}
