@import "../auth/signup/signup.component.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h3 {
    font-family: 'Open Sans',serif;
    color:silver;
    text-align: left;
}

#outer {
    border: 1px solid black;
      display: inline-block;
  }

.inner {
    font-size: 12px;
    display: inline-block;
    border: 1px solid red;
  }

.img-responsive {
    margin: 0 auto;
}