<div id="wrapper">
    <div class="container">
            <div class="unicorn"></div>
        <div class="four-oh-four"><h1>404 Error</h1></div>
              
        <div class="warning">            
            <h2>A paǵina que você está buscando pode ter sido removida, ter mudado de nome ou estar temporariamente indisponível.</h2>
            <a href="javascript:history.back()">Por favor volte pra página anterior</a>
        </div>

        <div class="footer"><p class="copyright">&copy; 2013 Redfrost.com</p></div>        

    </div><!-- /.container -->                             
</div>            

